__pycache__/
*.py[cod]
.coverage

.env
.env.*
!.env.example

*.db
.pytest_cache/
.venv/
node_modules/
venv/
frontend/.vite/
frontend/dist/
frontend/node_modules/
*.zip
__pycache__/
*.pyc
frontend/.vite/
frontend/dist/
frontend/node_modules/
*.zip
.env
.env.*
!.env.example
